@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body {
    background-color: rgb(0, 0, 0);
    max-width:100%;
}

main {
    margin: auto;
    /* background-color: rgb(222, 184, 135); */
    max-width: 1365px;
    max-width: max-content;
}

.topo {
    height: 80px;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 1;
    /* opacity: 0.9; */
}

.topoIn{
    /* background-color: rgb(69, 70, 70); */
    display: flex;
    height: 80px;
    max-width: 1328px;
    margin: auto;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 13px;
}

.menu {
    line-height: 80px;
    margin: auto;
}

.topoEsquerda img {
    width: 120px;
    margin-top: 24px;
}

.topoEsquerda2 img {
    width: 22px;
    margin-top: 19px;
    display: none;
}

.cad {
    display: flex;
    line-height: 80px;
    transition: 0.2s;
}

.conta img {
    width: 47px;
    margin-top: 17px;
    margin-right: 10px;
}

.lupa img{
    filter: invert(100%);
    width: 25px;
    margin-bottom: 8px;
    margin-right: 25px;
    margin-top: 28px;
    cursor: pointer;
    transition: 0.2s;
}


.cad a {
    color: white;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    transition: 0.2s;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    padding: 0px 20px 0px 20px;
}

#user {
    transition: 0.2s;
}

nav ul li:hover, #user:hover{
    color: #ffffff;
    text-shadow: 0px 5px 20px rgb(255, 255, 255);
    transform: scale(1.05);
    transition: 0.2s;
}

.container {
    background-image: url(images/bg0-lacasa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
    max-width:100%;
    box-shadow: 450px 0px 100px 300px rgba(0, 0, 0, 0.603) inset;
    margin: auto;
}

.container img {
    width: 420px;
    margin-top: 12vh;
    padding-left: 13px;
}

.conteudo {
    /* background-color: rgba(112, 112, 112, 0.26); */
    max-width: 1365px;
}

.text {
    padding-top: 30px;
    padding-left: 13px;
    width: 70vh;
    color: white;
    font-size: 18px;
}

.text p {
    text-shadow: 10px 5px 20px rgb(0, 0, 0);
}

.botao {
    display: flex;
    padding-top: 20px;
    text-align: left;
}

.botao button {
    font-weight: 500;
    font-size: 18px;
    padding: 0px 12px 0px 14px;
    height: 45px;
    border-radius: 6px;
    border: none;
    background-color: rgba(255, 255, 255, 0.301);
    color: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.233);
    cursor: pointer;
    transition: 0.3s;
}

.botao label {
    cursor: pointer;
}

button:hover{
    background-color: white;
    transition: 0.3s;
    color: black;
}

button:hover .play {
    transition: 0.3s;
    filter: invert(0);
}

label {
    display: flex;
    line-height: 35px;
}

.p2 {
    display: none;
}

button .play {
display: none;
}

.carrosel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    /* background-color: rgba(173, 153, 52, 0.199); */
    /* max-width: 1365px; LARGURA DO CARROSSEL */
    height: 225px;
    box-sizing: border-box;
}

.carrosel2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    /* background-color: rgba(173, 153, 52, 0.199); */
    max-width: 1365px; /* LARGURA DO CARROSSEL */
    height: 225px;
    box-sizing: border-box;
}

.cartaz {
    max-width: 1260px;
}
.cartaz img{
    width: 136px;
    margin: 0;
    transition: 0.3s;
    cursor: pointer;
}

.cartaz img:hover{
    filter: contrast(90%) brightness(110%);
    transform: scale(1.05);
    transition: 0.3s;
}

.cartaz2 {
    max-width: 1260px;
}
.cartaz2 img{
    width: 136px;
    margin: 0;
    transition: 0.3s;
    cursor: pointer;
}

.cartaz2 img:hover{
    filter: contrast(90%) brightness(110%);
    transform: scale(1.05);
    transition: 0.3s;
}

.genero label {
    display: flex;
    color: white;
    font-size: 18px;
    margin: 70px 0px 8px 0px; /* CATEGORIA */
    font-weight: 500;
    padding-left: 13px;
}

.genero2 label {
    display: flex;
    color: white;
    font-size: 18px;
    margin: 28px 0px 10px 0px; /* CATEGORIA */
    font-weight: 500;
    padding-left: 13px;
}

.arrow {
    margin: 13px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba(255, 255, 255, 0.082);
    width: 22px;
    height: 60%;
    cursor: pointer;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.61);
    box-shadow: 20px 0px 60px 5px rgba(0, 0, 0, 0.767);
    user-select: none; 
  }

  .arrow2 {
    margin: 13px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba(255, 255, 255, 0.082);
    width: 22px;
    height: 60%;
    cursor: pointer;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.61);
    box-shadow: 20px 0px 60px 5px rgba(0, 0, 0, 0.767);
    user-select: none; 
  }

  .arrow:active{
    background-color: rgba(255, 255, 255, 0.212);
    color: white;
  }
  
  #arrow-prev {
    text-align: start;
  }
  
  #arrow-next {
    text-align: end;
  }

  #arrow-prev2 {
    text-align: start;
  }
  
  #arrow-next2 {
    text-align: end;
  }

  .arrow2:active{
    background-color: rgba(255, 255, 255, 0.212);
    color: white;
  }

  footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 70px;
    width: 100%;
    bottom: -360px;
    left:0;
    position: absolute;
    font-weight: 400;
}

footer a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

footer a:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

@media (max-width: 1025px){

    .cartaz {
        max-width: 910px;
    }
    .cartaz2 {
        max-width: 910px;
    }

}

@media (max-width: 870px){ /*MENU RESPONSIVO*/

    .container {
        background-position: center;
        height: 86vh;
    }

    .cartaz {
        max-width: 690px;
    }

    
    .cartaz2 {
        max-width: 690px;
    }

    .conteudo {
        height:0px;
    }   

    footer {
        width: 100%;
        bottom: -360px;
    }
        
    }


@media (max-width: 780px){ /*MENU RESPONSIVO*/

.cad {
    display: none;
}

.topoEsquerda img{
    display: none;
}

.topoEsquerda2 img{
    display: flex;
}

nav ul li a {
    font-size: 18px;
}

.text {
    width: 54vh;
}

.arrow, .arrow2 {
    display: none;
}

footer {
    width: 100%;
    bottom: -550px;
}

}

@media (max-width: 689px) {

    .cartaz {
        max-width: 580px;
    }    
    .cartaz2 {
        max-width: 580px;
    }

    .topoEsquerda2 {
        margin-left: 42px;
    }

}

@media (max-width: 520px){ /*CORPO RESPONSIVO*/

    .text {
        width: 40vh;
        font-size: 14px;
    }

    .serie img{
        width: 340px;
    }

    .botao {
        padding-top: 15px;
    }

    .topoEsquerda2 {
        margin-left: 5px;
    }

    .botao button {
        font-weight: 500;
        font-size: 15px;
        padding: 0px 12px 0px 14px;
        height: 35px;
        border-radius: 5px;
    }

    .genero label {
        font-size: 16px;
        margin: 35px 0px 0px 0px;
    }

    .genero2 label {
        font-size: 16px;
        margin: 8px 0px 0px 0px;
    }

    body {
        max-height: 170%;
        max-width: 100%;
    }

    .arrow, .arrow2 {
        display: none;
    }

    .container {
        background-position: center;
        height: 86vh;
    }

    .cartaz {
        max-width: 380px;
    }

    
    .cartaz2 {
        max-width: 380px;
    }

    .conteudo {
        height:0px;
        max-width: 100%;
    }

    footer {
        width: 100%;
        bottom: -260px;
        position: absolute;
    }

    button .play {
        margin-top: 9px;
        margin-bottom: 20px;
        margin-right: 5px;
        margin-left: -18px;
        transition: 0.3s;
        width: 15px;
        filter: invert(1);
        display: flex;
    }

    .p1 {
        display: none;
    }

    .p2 {
        display: flex;
    }
}

@media (max-width: 394px){
    .topoIn{
        padding-left: 15px;
        padding-right: 5px;
    }

    .cartaz {
        max-width: 340px;
    }    
    .cartaz2 {
        max-width: 340px;
    }

    .serie img{
        width: 300px;
    }

    nav ul li a {
        text-decoration: none;
        color: #ffffff;
        font-size: 16px;
        padding: 0px 15px 0px 15px;
    }

}