@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
}

body {
    background-color: black;
}

main {
    display: flex;
    margin-left: 80px;
    justify-content: space-evenly;
  /*  background-color: rgb(222, 184, 135); */
    max-width: 1400px;
    height: 920px;
    box-sizing: border-box;
    max-width: max-content;
}

nav {
    background: transparent;
    position: absolute;
    align-items: center;
    justify-content: center;
    padding: 30px 80px;
    text-shadow: 10px 5px 20px rgb(0, 0, 0);
}

nav img {
    width: 110px;
    align-items: center;
    margin-right: 50px;
}

.conta {
    width: 40px;
    margin-right: 0px;
}

.lupa {
    filter: invert(100%);
    width: 30px;
    margin-left: 750px;
}

.conta2 {
    margin-left: 10px;
}

nav ul {
    list-style-type: none;
    
}

nav ul li {
    display: inline-block;.
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    padding: 0px 45px 0px 0px;
}

nav ul li:hover{
    color: #ffffff;
    text-shadow: 15px 5px 20px rgb(255, 255, 255);
}

.container {
    background-image: url(images/bg0-lacasa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
    width: auto;
    box-shadow: 450px 0px 100px 300px rgba(0, 0, 0, 0.603) inset;
}

.container img {
    width: 420px;
    margin-top: 12vh;
}

.conteudo {
   /* padding-left: 0; */
   /* background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.438)); */
    height: 100%;
   /* box-shadow: 250px 0px 60px 0px rgba(0, 0, 0, 0.432); */
}

.text {
    padding-top: 30px;
    width: 70vh;
    color: white;
    font-size: 18px;
}

.text p {
    text-shadow: 10px 5px 20px rgb(0, 0, 0);
}

.botao {
    display: flex;
    padding-top: 20px;
    text-align: left;
    width: 60vh;
}

.botao img {
    margin: 0;
    width: 15px;
}

.botao button {
    font-weight: 500;
    font-size: 18px;
    width: auto;
    padding: 0px 12px 0px 14px;
    height: 45px;
    border-radius: 6px;
    border: none;
    background-color: rgba(255, 255, 255, 0.301);
    color: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.233);
    cursor: pointer;
}

.botao label {
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: black;
}

.carrosel {
    display: flex;
    align-items: center;
    justify-content: ;
   /* background-color: rgb(173, 153, 52); */
    width: 1700px; /* LARGURA DO CARROSSEL */
    height: 225px;
    box-sizing: border-box;
}

.carrosel2 {
    display: flex;
    align-items: center;
    justify-content: ;
   /* background-color: rgb(173, 153, 52); */
    width: 1700px;
    height: 225px;
    box-sizing: border-box;
}

.cartaz {
    width: 160vh; /* LARGURA DOS FILMES */
}
.cartaz img{
    width: 136px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.233);
    margin: 0;
    cursor: pointer;
}

.cartaz img:hover{
    filter: contrast(85%) brightness(110%);
}

.cartaz2 {
    width: 160vh;
}
.cartaz2 img{
    width: 136px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.233);
    margin: 0;
    cursor: pointer;
}

.cartaz2 img:hover{
    filter: contrast(85%) brightness(110%);
}

.genero label {
    display: flex;
    color: white;
    font-size: 18px;
    margin: 70px 0px 8px 0px; /* CATEGORIA */
    font-weight: 500;
}

.genero2 label {
    display: flex;
    color: white;
    font-size: 18px;
    margin: 28px 0px 10px 0px; /* CATEGORIA */
    font-weight: 500;
}

.arrow {
    margin: 13px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba(255, 255, 255, 0.082);
    width: 22px;
    height: 60%;
    cursor: pointer;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.61);
    box-shadow: 20px 0px 60px 5px rgba(0, 0, 0, 0.767);
  }

  .arrow2 {
    margin: 13px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba(255, 255, 255, 0.082);
    width: 22px;
    height: 60%;
    cursor: pointer;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.61);
    box-shadow: 20px 0px 60px 5px rgba(0, 0, 0, 0.767);
  }

  .arrow:active{
    background-color: rgba(255, 255, 255, 0.212);
    color: white;
  }
  
  #arrow-prev {
    text-align: start;
  }
  
  #arrow-next {
    text-align: end;
  }

  #arrow-prev2 {
    text-align: start;
  }
  
  #arrow-next2 {
    text-align: end;
  }

  .arrow2:active{
    background-color: rgba(255, 255, 255, 0.212);
    color: white;
  }

  footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 70px;
    width: 100%;
    bottom: -265px;
    left:0;
    position: absolute;
    font-weight: 400;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover{
    color: rgb(255, 0, 0);
}